<img class="block w-8 h-8 cursor-pointer" src="../../../../assets/icons/user_profile.gif" alt="" [matMenuTriggerFor]="menu"> 
<mat-menu #menu="matMenu" >
  <div class="grid grid-col-1 bg-white">
    <button class="text-md font-medium hover:bg-gray-800 hover:text-gray-300 p-4 rounded" [routerLink]="['/voz-a-texto']" routerLinkActive="router-link-active" >voz a texto</button>
    <button class="text-md font-medium hover:bg-gray-800 hover:text-gray-300 p-4 rounded">Item 2</button>
    <button (click)="logout()" class="text-md font-medium hover:bg-gray-800 hover:text-gray-300 p-4 rounded">Cerrar Sesión</button>
  </div>
</mat-menu>