
<section class="flex flex-col sm:flex-row h-full sm:w-10/12 gap-4 items-center mx-auto seccion">
    <div class="flex flex-col gap-y-8 sm:basis-2/4">
        <h1 class="text-3xl font-bold mb-8">
            Hola, soy Janier Hernández
        </h1>
        <p class="max-w-[600px] text-gray-500 md:text-xl font-bold">
            Soy un desarrollador web apasionado con la resolución de problemas y la creación de soluciones. Me encanta trabajar con tecnologías modernas y crear experiencias de usuario increíbles.
        </p>
        <div class="flex flex-col gap-2 mx-auto sm:mx-0 min-[400px]:flex-row">
            <button class="bg-gray-800 text-white p-4 rounded-2xl" size="lg">Ve mi trabajo</button>
            <button class="bg-gray-800 text-white p-4 rounded-2xl" variant="outline" size="lg"> Contáctame </button>
        </div>
    </div>
    <div class="flex flex-col sm:basis-2/4">
        <img class="w-full h-auto rounded-4xl " src="../../../../assets/profcafe.png" alt="">
    </div>
</section>
