/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

*{
    min-width:  0;
}
html{
    margin: 0;   
}
body{
    min-height: 100dvh;
}
h1,h2,h3,h4,h5,h6,p{
    text-wrap: balance;
}

a, button{
    cursor: pointer;
}

/* Animaciones */
::view-transition-old(.contendor-ruter){
    animation: salida 1s ease 0s 1 normal forwards;

}

::view-transition-new(.contendor-ruter){
    animation: entrada 1s ease 0s 1 normal forwards;
}

@keyframes entrada {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
@keyframes salida {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}